# 1. Importação das bilbiotecas necessárias

In [1]:
# Importando o pandas
import pandas as pd

# Importando biblioteca para trabalhar com o MongoDB
import pymongo as pym

# Importando o numpy para trabalhar com cálculos matemáticos
import numpy as np

#Importando o seaborn e o matplotlib para análises gráficas
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Dados dos Alunos

In [2]:
# Como o arquivo dos alunos é maior, 
#a seleção das colunas utilizadas será feita  antes da importação do csv
colunas = ['NU_ANO_CENSO','CO_IES','CO_CURSO','ID_ALUNO','CO_ALUNO_CURSO',
          'TP_COR_RACA','TP_SEXO','NU_IDADE','TP_NACIONALIDADE','IN_DEFICIENCIA',
          'TP_SITUACAO','IN_INGRESSO_ENEM','IN_FINANCIAMENTO_ESTUDANTIL',
           'IN_FIN_NAOREEMB_PROUNI_PARCIAL','IN_FIN_NAOREEMB_PROUNI_INTEGR',
          'TP_ESCOLA_CONCLUSAO_ENS_MEDIO','IN_MOBILIDADE_ACADEMICA']

## 2.1 Carregando os alunos

In [3]:
## utilizando chunk size para carregar os dados
array_df = []
for chunk in pd.read_csv('../data/censo_2018/SUP_ALUNO.CSV', sep="|", low_memory=False,encoding="latin-1", usecols=colunas, chunksize = 10000):
    temp_df = chunk.loc[((chunk['TP_SITUACAO'] == 6) & (chunk['TP_SEXO'] == 1))]
    array_df.append(temp_df)

alunos = pd.concat(array_df, ignore_index=True)


## alunos = pd.read_csv('../data/SUP_ALUNO_2019.CSV', sep="|", encoding="latin-1", usecols=colunas)

In [4]:
## Verificando o consumo de memória
alunos.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765306 entries, 0 to 765305
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   NU_ANO_CENSO                    765306 non-null  int64
 1   CO_IES                          765306 non-null  int64
 2   CO_CURSO                        765306 non-null  int64
 3   ID_ALUNO                        765306 non-null  object
 4   CO_ALUNO_CURSO                  765306 non-null  int64
 5   TP_COR_RACA                     765306 non-null  int64
 6   TP_SEXO                         765306 non-null  int64
 7   NU_IDADE                        765306 non-null  int64
 8   TP_NACIONALIDADE                765306 non-null  int64
 9   IN_DEFICIENCIA                  765306 non-null  int64
 10  TP_SITUACAO                     765306 non-null  int64
 11  IN_INGRESSO_ENEM                765306 non-null  int64
 12  IN_FINANCIAMENTO_ESTUDANTIL     625352 non-null  float64
 13  IN_FIN_NAOREEMB_PROUNI_INTEGR   283630 non-null  float64
 14  IN_FIN_NAOREEMB_PROUNI_PARCIAL  283630 non-null  float64
 15  TP_ESCOLA_CONCLUSAO_ENS_MEDIO   765306 non-null  int64
 16  IN_MOBILIDADE_ACADEMICA         765306 non-null  float64
dtypes: float64(4), int64(12), object(1)
memory usage: 158.4 MB

In [5]:
# Verificando a quantidade de linhas e colunas do arquivo 
alunos.shape

(765306, 17)

In [6]:
# Verificando as 5 primeiras linhas do arquivo
alunos.head(30)

,NU_ANO_CENSO,CO_IES,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA
0,2018,1,1,267B6AD2C2CB90319B5A5DCBD13F7CB6,76484879,3,1,28,1,9,6,1,NaN,NaN,NaN,1,0.0
1,2018,1,1,171FC4148C9700F37817EA7AA769EB92,76484884,1,1,32,1,9,6,1,NaN,NaN,NaN,2,0.0
2,2018,1,1,80E9916E8D007D1747813993916E9399,76460911,3,1,35,1,9,6,1,NaN,NaN,NaN,1,0.0
3,2018,1,1,FAD376BD8B52A54941553730AA90863D,76476404,1,1,37,1,9,6,1,NaN,NaN,NaN,1,0.0
4,2018,1,1,B526E31AB4F2F5565C60A42F567FDEAF,76450240,1,1,26,1,9,6,1,NaN,NaN,NaN,1,0.0
5,2018,1,1,A23ABD618EDA8168F639874DB12E26B2,76445653,3,1,24,1,9,6,1,NaN,NaN,NaN,1,0.0
6,2018,1,1,0426BCA9BB7C432B1EDE5E4DAF73F829,76498384,1,1,24,1,9,6,1,NaN,NaN,NaN,2,0.0
7,2018,1,1,97147A30A3F9241BBD2F8DB4D283B7BB,76459896,3,1,23,1,9,6,1,NaN,NaN,NaN,1,0.0
8,2018,1,1,5A59A41F61D1BF8D2F73CC12A97958BD,76476433,2,1,33,1,9,6,1,NaN,NaN,NaN,1,0.0
9,2018,1,1,2035318079D5B388C8DBFA30D539FA42,76476011,1,1,23,1,9,6,1,NaN,NaN,NaN,2,0.0
10,2018,1,1,48C7C117A5291887133492708BFEB4B1,76497682,3,1,40,1,9,6,0,NaN,NaN,NaN,1,1.0
11,2018,1,1,43A11A63DAF075BFFAD31E0A66DD4500,76461014,1,1,25,1,9,6,1,NaN,NaN,NaN,1,0.0
12,2018,1,1,DD730C1AA52195C45D1011FFDE459C24,76486152,3,1,23,1,9,6,1,NaN,NaN,NaN,1,0.0
13,2018,1,1,67A708203863BB8CA4C4F65BD14C4C1E,76460305,3,1,24,1,9,6,1,NaN,NaN,NaN,1,0.0
14,2018,1,1,27CAB2F9856D66BDEC08A813FCA38791,76471207,2,1,24,1,9,6,1,NaN,NaN,NaN,1,0.0
15,2018,1,1,0242911D0DACBD72FF34E3D2BA0268B3,76448659,3,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
16,2018,1,1,3CACAF76CCFEFED0AEBBA4EB07C98F57,76492165,1,1,21,1,9,6,1,NaN,NaN,NaN,2,0.0
17,2018,1,1,C170B7C67AFAFB8F949AE851DBF7EADE,76445365,1,1,24,1,9,6,1,NaN,NaN,NaN,2,0.0
18,2018,1,1,F9175923A664A59B22D16E0EF4110F94,76497714,1,1,23,1,9,6,1,NaN,NaN,NaN,2,0.0
19,2018,1,1,06F96DCA6ED5BFB7B79FA33DC333B51E,76449412,1,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
20,2018,1,1,1C9FCEF3EE7C9D30B1DE2906243B68F9,76485034,3,1,23,1,9,6,1,NaN,NaN,NaN,2,1.0
21,2018,1,1,66144C7DB7CF33017E2DF32D3387C55C,76460341,1,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
22,2018,1,1,1CF8B1F2C8576F95E52A9B73AA604F4B,76499163,3,1,23,1,9,6,1,NaN,NaN,NaN,1,0.0
23,2018,1,1,7D581A02E171FC4AF4B2DD671822DF3C,76461262,3,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
24,2018,1,1,297E06BBFA16628AC51DB6E2008C6161,76446616,3,1,21,1,9,6,1,NaN,NaN,NaN,2,0.0
25,2018,1,1,BC7656BC1A43ED3DCE8A856258584216,76471253,1,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
26,2018,1,1,12F052FAB1C9B878F55F8C21E779AC40,76497717,4,1,22,1,9,6,1,NaN,NaN,NaN,2,1.0
27,2018,1,1,237C0C2D94389B729A34937B41398197,76498418,1,1,22,1,9,6,1,NaN,NaN,NaN,2,0.0
28,2018,1,1,00AFA31AFA9FF64C21D81C30A61C0FF4,76498109,1,1,22,1,9,6,1,NaN,NaN,NaN,2,1.0
29,2018,1,1,E5716C05AAF72B713294E760899AAB11,76471695,3,1,23,1,9,6,1,NaN,NaN,NaN,1,0.0

In [7]:
# Verificando o tipo de cada coluna
alunos.dtypes

NU_ANO_CENSO                        int64
CO_IES                              int64
CO_CURSO                            int64
ID_ALUNO                           object
CO_ALUNO_CURSO                      int64
TP_COR_RACA                         int64
TP_SEXO                             int64
NU_IDADE                            int64
TP_NACIONALIDADE                    int64
IN_DEFICIENCIA                      int64
TP_SITUACAO                         int64
IN_INGRESSO_ENEM                    int64
IN_FINANCIAMENTO_ESTUDANTIL       float64
IN_FIN_NAOREEMB_PROUNI_INTEGR     float64
IN_FIN_NAOREEMB_PROUNI_PARCIAL    float64
TP_ESCOLA_CONCLUSAO_ENS_MEDIO       int64
IN_MOBILIDADE_ACADEMICA           float64
dtype: object

In [8]:
## Otimizando os atributos 
ints = alunos.select_dtypes(include=['int64','int32','int16']).columns
alunos[ints] = alunos[ints].apply(pd.to_numeric, downcast='integer')

floats = alunos.select_dtypes(include=['float']).columns
alunos[floats] = alunos[floats].apply(pd.to_numeric, downcast='float')

## 2.2  Tratando os dados do dataset

In [9]:
## Verificando a quantidade de valores nulos por coluna
alunos.isnull().sum()

NU_ANO_CENSO                           0
CO_IES                                 0
CO_CURSO                               0
ID_ALUNO                               0
CO_ALUNO_CURSO                         0
TP_COR_RACA                            0
TP_SEXO                                0
NU_IDADE                               0
TP_NACIONALIDADE                       0
IN_DEFICIENCIA                         0
TP_SITUACAO                            0
IN_INGRESSO_ENEM                       0
IN_FINANCIAMENTO_ESTUDANTIL       139954
IN_FIN_NAOREEMB_PROUNI_INTEGR     481676
IN_FIN_NAOREEMB_PROUNI_PARCIAL    481676
TP_ESCOLA_CONCLUSAO_ENS_MEDIO          0
IN_MOBILIDADE_ACADEMICA                0
dtype: int64

In [10]:
# De financiamento para 2, para depois alterar o 2 para "Não informado"
alunos['IN_FINANCIAMENTO_ESTUDANTIL'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].fillna(value='2', inplace=True)

# Alterando para 0 os mobilidade acadêmica nulos
alunos['IN_MOBILIDADE_ACADEMICA'].fillna(value='0', inplace=True)

In [11]:
# 1) Alterando o tipo dos dados int, para object (string)
alunos['TP_SITUACAO'] = alunos['TP_SITUACAO'].apply(str)
alunos['TP_SEXO'] = alunos['TP_SEXO'].apply(str)
alunos['TP_NACIONALIDADE'] = alunos['TP_NACIONALIDADE'].apply(str)
alunos['IN_DEFICIENCIA'] = alunos['IN_DEFICIENCIA'].apply(str)
alunos['TP_COR_RACA'] = alunos['TP_COR_RACA'].apply(str)
alunos['IN_INGRESSO_ENEM'] = alunos['IN_INGRESSO_ENEM'].apply(str)
alunos['IN_FINANCIAMENTO_ESTUDANTIL'] = alunos['IN_FINANCIAMENTO_ESTUDANTIL'].apply(str)
alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].apply(str)
alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] = alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'].apply(str)
alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'].apply(str)
alunos['IN_MOBILIDADE_ACADEMICA'] = alunos['IN_MOBILIDADE_ACADEMICA'].apply(str)

In [12]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_SITUACAO  
alunos.loc[alunos['TP_SITUACAO'] == '2', 'TP_SITUACAO'] = 'Cursando'
alunos.loc[alunos['TP_SITUACAO'] == '3', 'TP_SITUACAO'] = 'Matricula trancada'
alunos.loc[alunos['TP_SITUACAO'] == '4', 'TP_SITUACAO'] = 'Desvinculado do curso'
alunos.loc[alunos['TP_SITUACAO'] == '5', 'TP_SITUACAO'] = 'Transferido para outro curso da mesma IES'
alunos.loc[alunos['TP_SITUACAO'] == '6', 'TP_SITUACAO'] = 'Formado'
alunos.loc[alunos['TP_SITUACAO'] == '7', 'TP_SITUACAO'] = 'Falecido'

# 3) TP_SEXO  
alunos.loc[alunos['TP_SEXO'] == '1', 'TP_SEXO'] = 'Feminino'
alunos.loc[alunos['TP_SEXO'] == '2', 'TP_SEXO'] = 'Masculino'

# 4) TP_NACIONALIDADE  
alunos.loc[alunos['TP_NACIONALIDADE'] == '1', 'TP_NACIONALIDADE'] = 'Brasileira'
alunos.loc[alunos['TP_NACIONALIDADE'] == '2', 'TP_NACIONALIDADE'] = 'Brasileira nascida no exterior ou naturalizado'
alunos.loc[alunos['TP_NACIONALIDADE'] == '3', 'TP_NACIONALIDADE'] = 'Estrangeira'

# 5) IN_DEFICIENCIA  
alunos.loc[alunos['IN_DEFICIENCIA'] == '0', 'IN_DEFICIENCIA'] = 'Não'
alunos.loc[alunos['IN_DEFICIENCIA'] == '1', 'IN_DEFICIENCIA'] = 'Sim'
alunos.loc[alunos['IN_DEFICIENCIA'] == '9', 'IN_DEFICIENCIA'] = 'Sem informação'

# 6) TP_COR_RACA  
alunos.loc[alunos['TP_COR_RACA'] == '0', 'TP_COR_RACA'] = 'Não quis declarar'
alunos.loc[alunos['TP_COR_RACA'] == '1', 'TP_COR_RACA'] = 'Branca'
alunos.loc[alunos['TP_COR_RACA'] == '2', 'TP_COR_RACA'] = 'Preta'
alunos.loc[alunos['TP_COR_RACA'] == '3', 'TP_COR_RACA'] = 'Parda'
alunos.loc[alunos['TP_COR_RACA'] == '4', 'TP_COR_RACA'] = 'Amarela'
alunos.loc[alunos['TP_COR_RACA'] == '5', 'TP_COR_RACA'] = 'Indígena'
alunos.loc[alunos['TP_COR_RACA'] == '9', 'TP_COR_RACA'] = 'Sem informação'

# 7) IN_INGRESSO_ENEM  
alunos.loc[alunos['IN_INGRESSO_ENEM'] == '0', 'IN_INGRESSO_ENEM'] = 'Não'
alunos.loc[alunos['IN_INGRESSO_ENEM'] == '1', 'IN_INGRESSO_ENEM'] = 'Sim'

# 8) IN_FINANCIAMENTO_ESTUDANTIL  
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '0', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Não'
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '1', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Sim'
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '2', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Sem informação'

# 9) IN_FIN_NAOREEMB_PROUNI_PARCIAL  
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '0', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Não'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '1', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Sim'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '2', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Sem informação'

# 10) IN_FIN_NAOREEMB_PROUNI_INTEGR  
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '0', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Não'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '1', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Sim'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '2', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Sem informação'

# 11) TP_ESCOLA_CONCLUSAO_ENS_MEDIO  
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '1', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Pública'
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '2', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Privada'
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '9', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Sem informação'

# 11) IN_MOBILIDADE_ACADEMICA  
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '0', 'IN_MOBILIDADE_ACADEMICA'] = 'Não'
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '1', 'IN_MOBILIDADE_ACADEMICA'] = 'Sim'
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '9', 'IN_MOBILIDADE_ACADEMICA'] = 'Sem informação'

In [13]:
## Mudando os objetos "object" para category
objects = alunos.select_dtypes('object').columns
alunos[objects] = alunos[objects].apply(lambda x: x.astype('category'))

In [14]:
alunos.head()

,NU_ANO_CENSO,CO_IES,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA
0,2018,1,1,267B6AD2C2CB90319B5A5DCBD13F7CB6,76484879,Parda,Feminino,28,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0
1,2018,1,1,171FC4148C9700F37817EA7AA769EB92,76484884,Branca,Feminino,32,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Privada,0.0
2,2018,1,1,80E9916E8D007D1747813993916E9399,76460911,Parda,Feminino,35,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0
3,2018,1,1,FAD376BD8B52A54941553730AA90863D,76476404,Branca,Feminino,37,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0
4,2018,1,1,B526E31AB4F2F5565C60A42F567FDEAF,76450240,Branca,Feminino,26,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0

# 3 Dados das IES

In [15]:
# Como cada linha do arquivo de alunos é vinculado a uma IES via código da IES, é necessário
# realizar a carga dos dados das IES e inserir em cada aluno

# 3.1 Carga do arquivo e dados inicial

In [16]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
ies = pd.read_csv('../data/censo_2018/SUP_IES.CSV', sep="|", encoding="latin-1")

In [17]:
# Mostrando a quantidade de linhas e colunas do DataFrame 
print("Quantidade de linhas:",ies.shape[0])
print("Quantidade de colunas:",ies.shape[1])

Quantidade de linhas: 2537
Quantidade de colunas: 48

In [18]:
# Importando arquivo de cidades do IBGE que servirá para popular o endereço das IES
colunas = ['codigo_ibge','NO_MUNICIPIO','LAT_MUNICIPIO','LON_MUNICIPIO','CO_UF','SG_UF','NO_UF']
municipios = pd.read_csv('../data/municipios.csv', sep=",", header=0, names=colunas)

In [19]:
# Removendo colunas desnecessárias
municipios.drop(['CO_UF'], axis=1, inplace = True)

## 3.2 Tratando os dados do dataset

In [20]:
# Criando um DataFrame somente com as colunas de endereço das IES 
# E outro com as colunas consideradas na estrutura do trabalho
endereco_ies = ies[{'CO_REGIAO','CO_UF','CO_MUNICIPIO','IN_CAPITAL'}]

ies = ies[{'CO_IES','NO_IES','SG_IES',
           'TP_CATEGORIA_ADMINISTRATIVA',
           'TP_ORGANIZACAO_ACADEMICA','QT_TEC_TOTAL'}]

In [21]:
# Adicionando uma coluna Endereco no DataFrame das IES, pois por padrão
# essa coluna não existe
ies['ENDERECO'] = ""

In [22]:
## Categorizando o IN_CAPITAL do endereco 
# 1) Alterando o tipo dos dados int, para object (string)
endereco_ies['IN_CAPITAL'] = endereco_ies['IN_CAPITAL'].apply(str)

In [23]:
# Alterando os valores por suas respectivas categorias  
# 2) IN CAPITAL 0: Não; 1: Sim. 
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '0', 'IN_CAPITAL'] = 'Não'
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '1', 'IN_CAPITAL'] = 'Sim'

In [24]:
# fazendo um merge de endereço com municipios
endereco_ies = endereco_ies.merge(municipios, how='left', left_on='CO_MUNICIPIO', right_on='codigo_ibge')

In [25]:
# Removendo colunas desnecessárias
endereco_ies.drop(['codigo_ibge'], axis=1, inplace = True)

In [26]:
# Resultado da junção de endereço e municipios
endereco_ies.head(3)

,IN_CAPITAL,CO_UF,CO_REGIAO,CO_MUNICIPIO,NO_MUNICIPIO,LAT_MUNICIPIO,LON_MUNICIPIO,SG_UF,NO_UF
0,Sim,51,5,5103403,Cuiabá,-15601.0000,-56.0974,MT,Mato Grosso
1,Sim,53,5,5300108,Brasília,-15.7795,-47.9297,DF,Distrito Federal
2,Não,28,2,2806701,São Cristóvão,-11.0084,-37.2044,SE,Sergipe

In [27]:
endereco_ies.isnull().sum()

IN_CAPITAL       0
CO_UF            0
CO_REGIAO        0
CO_MUNICIPIO     0
NO_MUNICIPIO     0
LAT_MUNICIPIO    0
LON_MUNICIPIO    0
SG_UF            0
NO_UF            0
dtype: int64

In [28]:
endereco_ies.shape

(2537, 9)

In [29]:
# Criando um dicionário do Python a partir do DataFrame de enderecos
endereco_ies_dict = endereco_ies.to_dict('records')

In [30]:
# Adicionando um endereco (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada IES
for i in ies.index:
    ies.at[i,'ENDERECO'] = endereco_ies_dict[i]

In [31]:
ies.isnull().sum()

TP_ORGANIZACAO_ACADEMICA         0
CO_IES                           0
SG_IES                         426
TP_CATEGORIA_ADMINISTRATIVA      0
NO_IES                           0
QT_TEC_TOTAL                     0
ENDERECO                         0
dtype: int64

In [32]:
# Alterando os valores nulos da sigla da IES para 'Sem sigla'.
ies['SG_IES'].fillna('Sem SIGLA', inplace = True)

In [33]:
# 1) Alterando o tipo dos dados int, para object (string)
ies['TP_CATEGORIA_ADMINISTRATIVA'] = ies['TP_CATEGORIA_ADMINISTRATIVA'].apply(str)
ies['TP_ORGANIZACAO_ACADEMICA'] = ies['TP_ORGANIZACAO_ACADEMICA'].apply(str)

In [34]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_CATEGORIA_ADMINISTRATIVA: 1: Pública Federal; 2: Pública Federal; 
# 3: Pùblica Municipal; 4: Privada com fins lucrativos; 5: Privada sem fins lucrativos;
# 6: Privada - Particular em sentido estrito; 7: Especial
# 8: Privada comunitária; 9: Privada confessional.  
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '1', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '2', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '3', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Municipal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '4', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada com fins lucrativo'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '5', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada sem fins lucrativos'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '6', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada - Particular em sentido estrito'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '7', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Especial'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '8', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada comunitária'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '9', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada confessional'

# 2) TP_ORGANIZACAO_ACADEMICA: 1: Universidade; 2: Centro Universitário; 
# 3: Faculdade; 4: Instituto Federal de Educação Ciência e Tecnologia; 
# 5: Centro Federal de Educação Tecnológica
  
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '1', 'TP_ORGANIZACAO_ACADEMICA'] = 'Universidade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '2', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Universitário'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '3', 'TP_ORGANIZACAO_ACADEMICA'] = 'Faculdade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '4', 'TP_ORGANIZACAO_ACADEMICA'] = 'Instituto Federal de Educação Ciência e Tecnologia'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '5', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Federal de Educação Tecnológica'

In [35]:
alunos = alunos.merge(ies, how='left', left_on='CO_IES', right_on='CO_IES')

In [36]:
alunos.head()

,NU_ANO_CENSO,CO_IES,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,...,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA,TP_ORGANIZACAO_ACADEMICA,SG_IES,TP_CATEGORIA_ADMINISTRATIVA,NO_IES,QT_TEC_TOTAL,ENDERECO
0,2018,1,1,267B6AD2C2CB90319B5A5DCBD13F7CB6,76484879,Parda,Feminino,28,Brasileira,Sem informação,...,Sem informação,Sem informação,Pública,0.0,Universidade,UFMT,Pública Federal,UNIVERSIDADE FEDERAL DE MATO GROSSO,1639,"{'IN_CAPITAL': 'Sim', 'CO_UF': 51, 'CO_REGIAO'..."
1,2018,1,1,171FC4148C9700F37817EA7AA769EB92,76484884,Branca,Feminino,32,Brasileira,Sem informação,...,Sem informação,Sem informação,Privada,0.0,Universidade,UFMT,Pública Federal,UNIVERSIDADE FEDERAL DE MATO GROSSO,1639,"{'IN_CAPITAL': 'Sim', 'CO_UF': 51, 'CO_REGIAO'..."
2,2018,1,1,80E9916E8D007D1747813993916E9399,76460911,Parda,Feminino,35,Brasileira,Sem informação,...,Sem informação,Sem informação,Pública,0.0,Universidade,UFMT,Pública Federal,UNIVERSIDADE FEDERAL DE MATO GROSSO,1639,"{'IN_CAPITAL': 'Sim', 'CO_UF': 51, 'CO_REGIAO'..."
3,2018,1,1,FAD376BD8B52A54941553730AA90863D,76476404,Branca,Feminino,37,Brasileira,Sem informação,...,Sem informação,Sem informação,Pública,0.0,Universidade,UFMT,Pública Federal,UNIVERSIDADE FEDERAL DE MATO GROSSO,1639,"{'IN_CAPITAL': 'Sim', 'CO_UF': 51, 'CO_REGIAO'..."
4,2018,1,1,B526E31AB4F2F5565C60A42F567FDEAF,76450240,Branca,Feminino,26,Brasileira,Sem informação,...,Sem informação,Sem informação,Pública,0.0,Universidade,UFMT,Pública Federal,UNIVERSIDADE FEDERAL DE MATO GROSSO,1639,"{'IN_CAPITAL': 'Sim', 'CO_UF': 51, 'CO_REGIAO'..."

In [37]:
alunos.isnull().sum()

NU_ANO_CENSO                      0
CO_IES                            0
CO_CURSO                          0
ID_ALUNO                          0
CO_ALUNO_CURSO                    0
TP_COR_RACA                       0
TP_SEXO                           0
NU_IDADE                          0
TP_NACIONALIDADE                  0
IN_DEFICIENCIA                    0
TP_SITUACAO                       0
IN_INGRESSO_ENEM                  0
IN_FINANCIAMENTO_ESTUDANTIL       0
IN_FIN_NAOREEMB_PROUNI_INTEGR     0
IN_FIN_NAOREEMB_PROUNI_PARCIAL    0
TP_ESCOLA_CONCLUSAO_ENS_MEDIO     0
IN_MOBILIDADE_ACADEMICA           0
TP_ORGANIZACAO_ACADEMICA          0
SG_IES                            0
TP_CATEGORIA_ADMINISTRATIVA       0
NO_IES                            0
QT_TEC_TOTAL                      0
ENDERECO                          0
dtype: int64

In [38]:
alunos_ies = alunos[{'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}]

In [39]:
alunos.drop({'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}, axis=1, inplace = True)

In [40]:
alunos['IES'] = ""

In [41]:
# Criando um dicionário do Python a partir do DataSet de docentes_ies
alunos_ies_dict = alunos_ies.to_dict('records')

In [42]:
# Adicionando uma ies (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada aluno
for x in alunos.index:
    alunos.at[x,'IES'] = alunos_ies_dict[x]

In [43]:
alunos.shape

(765306, 17)

In [44]:
alunos.head(2)

,NU_ANO_CENSO,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA,IES
0,2018,1,267B6AD2C2CB90319B5A5DCBD13F7CB6,76484879,Parda,Feminino,28,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0,"{'CO_IES': 1, 'TP_ORGANIZACAO_ACADEMICA': 'Uni..."
1,2018,1,171FC4148C9700F37817EA7AA769EB92,76484884,Branca,Feminino,32,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Privada,0.0,"{'CO_IES': 1, 'TP_ORGANIZACAO_ACADEMICA': 'Uni..."

# 5 Dados de Cursos

#  5.1 Carga do arquivo e dados iniciais

In [45]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
cursos = pd.read_csv('../data/censo_2018/SUP_CURSO.CSV', sep="|", encoding="latin-1")

In [46]:
# Verificando a quantidade de linhas e colunas do arquivo 
cursos.shape

(38256, 112)

In [47]:
# Selecionando somente as colunas necessárias descritas na documentação do trabalho: 
# COD_IES, CO_CURSO,NO_CURSO, TP_SITUACAO, TP_GRAU_ACADEMICO, TP_MODALIDADE_ENSINO
# TP_NIVEL_ACADEMICO, IN_GRATUITO, NU_CARGA_HORARIA 

cursos = cursos[{'CO_CURSO','NO_CURSO','TP_SITUACAO','TP_GRAU_ACADEMICO',
                'TP_MODALIDADE_ENSINO','TP_NIVEL_ACADEMICO','IN_GRATUITO',
                 'NU_CARGA_HORARIA'}]

In [48]:
# Verificando novamente a quantidade de linhas e colunas do arquivo
# após a seleção de somente as colunas necessárias
cursos.shape

(38256, 8)

# 5.2  Tratando os dados do dataset

In [49]:
## Verificando a quantidade de valores nulos por coluna
cursos.isnull().sum()

IN_GRATUITO               0
TP_SITUACAO               0
NU_CARGA_HORARIA          0
NO_CURSO                  0
TP_GRAU_ACADEMICO       294
TP_NIVEL_ACADEMICO        0
TP_MODALIDADE_ENSINO      0
CO_CURSO                  0
dtype: int64

In [50]:
# Alterar os valores nulos por "NÃO INFORMADO"
cursos['TP_GRAU_ACADEMICO'].fillna(value='Não informado', inplace=True)

In [51]:
# 1) Alterando o tipo dos dados int, para object (string)
cursos['TP_SITUACAO'] = cursos['TP_SITUACAO'].apply(str)
cursos['TP_NIVEL_ACADEMICO'] = cursos['TP_NIVEL_ACADEMICO'].apply(str)
cursos['TP_MODALIDADE_ENSINO'] = cursos['TP_MODALIDADE_ENSINO'].apply(str)
cursos['TP_GRAU_ACADEMICO'] = cursos['TP_GRAU_ACADEMICO'].apply(str)
cursos['IN_GRATUITO'] = cursos['IN_GRATUITO'].apply(str)

In [52]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_SITUACAO: 1: Em atividade; 2:Extinto; 3: Em extinção.  
cursos.loc[cursos['TP_SITUACAO'] == '1', 'TP_SITUACAO'] = 'Em atividade'
cursos.loc[cursos['TP_SITUACAO'] == '2', 'TP_SITUACAO'] = 'Extinto'
cursos.loc[cursos['TP_SITUACAO'] == '3', 'TP_SITUACAO'] = 'Em extinção'

# 3) TP_NIVEL_ACADEMICO: 1: Graduação; 2:Sequencial
cursos.loc[cursos['TP_NIVEL_ACADEMICO'] == '1', 'TP_NIVEL_ACADEMICO'] = 'Graduação'
cursos.loc[cursos['TP_NIVEL_ACADEMICO'] == '2', 'TP_NIVEL_ACADEMICO'] = 'Sequencial'

# 4) TP_MODALIDADE_ENSINO: 1: Presencial; 2:EAD
cursos.loc[cursos['TP_MODALIDADE_ENSINO'] == '1', 'TP_MODALIDADE_ENSINO'] = 'Presencial'
cursos.loc[cursos['TP_MODALIDADE_ENSINO'] == '2', 'TP_MODALIDADE_ENSINO'] = 'EAD'

# 5) TP_GRAU_ACADEMICO: 1: Bacharelado; 2: Licenciatura; 3: Tecnológico; 4: Bacharelado e Licenciatura. 
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '1.0', 'TP_GRAU_ACADEMICO'] = 'Bacharelado'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '2.0', 'TP_GRAU_ACADEMICO'] = 'Licenciatura'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '3.0', 'TP_GRAU_ACADEMICO'] = 'Tecnológico'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '4.0', 'TP_GRAU_ACADEMICO'] = 'Bacharelado e Licenciatura'

# 6) IN_GRATUITO: 0: Não; 1: Sim. 
cursos.loc[cursos['IN_GRATUITO'] == '0', 'IN_GRATUITO'] = 'Não'
cursos.loc[cursos['IN_GRATUITO'] == '1', 'IN_GRATUITO'] = 'Sim'

In [53]:
## Mudando os objetos "object" para category
objects = cursos.select_dtypes('object').columns
cursos[objects] = cursos[objects].apply(lambda x: x.astype('category'))

# 6 Juntando os dados dos cursos com o de alunos

In [54]:
alunos = alunos.merge(cursos, how='left', left_on='CO_CURSO', right_on='CO_CURSO')

In [55]:
alunos.shape

(765306, 24)

In [56]:
# Renomear as colunas de situação, pois ela existe tanto no dataframe de aluno quando no de curso
alunos.rename(columns={'TP_SITUACAO_x': 'TP_SITUACAO_ALUNO'}, inplace = True)
alunos.rename(columns={'TP_SITUACAO_y': 'TP_SITUACAO_CURSO'}, inplace = True)

In [57]:
alunos.dtypes

NU_ANO_CENSO                         int16
CO_CURSO                             int32
ID_ALUNO                          category
CO_ALUNO_CURSO                       int32
TP_COR_RACA                       category
TP_SEXO                           category
NU_IDADE                              int8
TP_NACIONALIDADE                  category
IN_DEFICIENCIA                    category
TP_SITUACAO_ALUNO                 category
IN_INGRESSO_ENEM                  category
IN_FINANCIAMENTO_ESTUDANTIL       category
IN_FIN_NAOREEMB_PROUNI_INTEGR     category
IN_FIN_NAOREEMB_PROUNI_PARCIAL    category
TP_ESCOLA_CONCLUSAO_ENS_MEDIO     category
IN_MOBILIDADE_ACADEMICA           category
IES                                 object
IN_GRATUITO                       category
TP_SITUACAO_CURSO                 category
NU_CARGA_HORARIA                     int64
NO_CURSO                          category
TP_GRAU_ACADEMICO                 category
TP_NIVEL_ACADEMICO                category
TP_MODALIDADE_ENSINO              category
dtype: object

In [58]:
alunos_curso = alunos[{'TP_MODALIDADE_ENSINO','NU_CARGA_HORARIA','CO_CURSO','TP_SITUACAO_CURSO','TP_GRAU_ACADEMICO',
                       'IN_GRATUITO','NO_CURSO','TP_NIVEL_ACADEMICO'}]

In [59]:
alunos.drop({'TP_MODALIDADE_ENSINO','NU_CARGA_HORARIA','CO_CURSO','TP_SITUACAO_CURSO','TP_GRAU_ACADEMICO',
                       'IN_GRATUITO','NO_CURSO','TP_NIVEL_ACADEMICO'}, axis=1, inplace = True)

In [60]:
alunos['CURSO'] = ""

In [61]:
# Criando um dicionário do Python a partir do DataSet de alunos_cursos
alunos_curso_dict = alunos_curso.to_dict('records')

In [62]:
# Adicionando um curso (através do dicionário criado no passo anterior)
# e inserindo na coluna "CURSO" de cada aluno
for x in alunos.index:
    alunos.at[x,'CURSO'] = alunos_curso_dict[x]

In [63]:
alunos.head(2)

,NU_ANO_CENSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO_ALUNO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA,IES,CURSO
0,2018,267B6AD2C2CB90319B5A5DCBD13F7CB6,76484879,Parda,Feminino,28,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Pública,0.0,"{'CO_IES': 1, 'TP_ORGANIZACAO_ACADEMICA': 'Uni...","{'IN_GRATUITO': 'Sim', 'NU_CARGA_HORARIA': 370..."
1,2018,171FC4148C9700F37817EA7AA769EB92,76484884,Branca,Feminino,32,Brasileira,Sem informação,Formado,Sim,Sem informação,Sem informação,Sem informação,Privada,0.0,"{'CO_IES': 1, 'TP_ORGANIZACAO_ACADEMICA': 'Uni...","{'IN_GRATUITO': 'Sim', 'NU_CARGA_HORARIA': 370..."

# 7. Envio dos dados para o mongoDB

In [64]:
# Criando a conexão com o mongoDB
client = pym.MongoClient('mongodb://rlk:rockinrio08@177.44.248.87:27017/')

# Acessando a base de dados criada para o teste
db = client['censo']

# Acessando a coleção curso dentro da base de dados censo  
collection_cursos=  db['concluintes']

In [65]:
# Transformando o DataSet dos cursos em um dicionario com o objetivo
# de salvar ele no MongoDB, pois o banco não aceita estruturas do tipo DataFrame
alunos_dict = alunos.to_dict('records')

In [66]:
# Enviando os dados para o MongoDB
collection_cursos.insert_many(alunos_dict)