# 1. Importação das bilbiotecas necessárias

In [1]:
# Importando o pandas
import pandas as pd

# Importando biblioteca para trabalhar com o MongoDB
import pymongo as pym

# Importando o numpy para trabalhar com cálculos matemáticos
import numpy as np

#Importando o seaborn e o matplotlib para análises gráficas
import seaborn as sns
import matplotlib.pyplot as plt

# 2 Dados dos Locais de Oferta

## 2.1 Carga do arquivo e dados iniciais

In [2]:
# Como o arquivo dos locais é maior, a seleção das colunas utilizadas será feita  antes da importação do csv
colunas = ['NU_ANO_CENSO','CO_IES','CO_LOCAL_OFERTA','NO_LOCAL_OFERTA','CO_CURSO_POLO','CO_CURSO','CO_UF',
          'CO_MUNICIPIO','IN_CAPITAL','IN_SEDE','IN_LOCAL_OFERTA_NEAD','IN_LOCAL_OFERTA_POLO']

In [3]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
locais = pd.read_csv('../data/censo_2018/SUP_LOCAL_OFERTA.CSV', sep="|", encoding="latin-1", usecols=colunas)

In [4]:
locais.shape

(767724, 12)

In [5]:
# Verificar a quantidade de memória ocupada 
locais.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767724 entries, 0 to 767723
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   NU_ANO_CENSO          767724 non-null  int64
 1   CO_LOCAL_OFERTA       767724 non-null  int64
 2   NO_LOCAL_OFERTA       767724 non-null  object
 3   CO_IES                767724 non-null  int64
 4   CO_UF                 766163 non-null  float64
 5   CO_MUNICIPIO          767724 non-null  int64
 6   IN_CAPITAL            766176 non-null  float64
 7   IN_SEDE               426600 non-null  float64
 8   CO_CURSO_POLO         732648 non-null  float64
 9   CO_CURSO              767724 non-null  int64
 10  IN_LOCAL_OFERTA_NEAD  709732 non-null  float64
 11  IN_LOCAL_OFERTA_POLO  709732 non-null  float64
dtypes: float64(6), int64(5), object(1)
memory usage: 125.6 MB

In [6]:
locais.dtypes

NU_ANO_CENSO              int64
CO_LOCAL_OFERTA           int64
NO_LOCAL_OFERTA          object
CO_IES                    int64
CO_UF                   float64
CO_MUNICIPIO              int64
IN_CAPITAL              float64
IN_SEDE                 float64
CO_CURSO_POLO           float64
CO_CURSO                  int64
IN_LOCAL_OFERTA_NEAD    float64
IN_LOCAL_OFERTA_POLO    float64
dtype: object

In [7]:
## Verificando a quantidade de valores nulos por coluna
locais.isnull().sum()

NU_ANO_CENSO                 0
CO_LOCAL_OFERTA              0
NO_LOCAL_OFERTA              0
CO_IES                       0
CO_UF                     1561
CO_MUNICIPIO                 0
IN_CAPITAL                1548
IN_SEDE                 341124
CO_CURSO_POLO            35076
CO_CURSO                     0
IN_LOCAL_OFERTA_NEAD     57992
IN_LOCAL_OFERTA_POLO     57992
dtype: int64

In [8]:
# Importando arquivo de cidades do IBGE que servirá para popular o endereço dos locais
colunas = ['codigo_ibge','NO_MUNICIPIO','LAT_MUNICIPIO','LON_MUNICIPIO','CO_UF','SG_UF','NO_UF']
municipios = pd.read_csv('../data/municipios.csv', sep=",", header=0, names=colunas)

In [9]:
# Removendo colunas desnecessárias
municipios.drop(['CO_UF'], axis=1, inplace = True)

In [10]:
municipios.shape

(5570, 6)

In [11]:
municipios.dtypes

codigo_ibge        int64
NO_MUNICIPIO      object
LAT_MUNICIPIO    float64
LON_MUNICIPIO    float64
SG_UF             object
NO_UF             object
dtype: object

In [12]:
municipios.head()

,codigo_ibge,NO_MUNICIPIO,LAT_MUNICIPIO,LON_MUNICIPIO,SG_UF,NO_UF
0,5200050,Abadia de Goiás,-16.75730,-49.4412,GO,Goiás
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,MG,Minas Gerais
2,5200100,Abadiânia,-16197.00000,-48.7057,GO,Goiás
3,3100203,Abaeté,-19.15510,-45.4444,MG,Minas Gerais
4,1500107,Abaetetuba,-1.72183,-48.8788,PA,Pará

## 2.2  Tratando os dados do dataset

In [13]:
# Criando um DataFrame somente com as colunas de endereço dos LOCAIS 
# E outro com as colunas consideradas na estrutura do trabalho
endereco_locais = locais[{'CO_MUNICIPIO','CO_UF','IN_CAPITAL'}]
locais = locais[{'NU_ANO_CENSO','CO_LOCAL_OFERTA','NO_LOCAL_OFERTA','CO_IES','IN_SEDE','CO_CURSO_POLO','CO_CURSO','IN_LOCAL_OFERTA_NEAD','IN_LOCAL_OFERTA_POLO'}]

In [14]:
endereco_locais.isnull().sum()

CO_UF           1561
CO_MUNICIPIO       0
IN_CAPITAL      1548
dtype: int64

In [15]:
endereco_locais.dtypes

CO_UF           float64
CO_MUNICIPIO      int64
IN_CAPITAL      float64
dtype: object

In [16]:
# Os códigos de UF nulos, são de locais de oferta fora do BRASIL 
endereco_locais['CO_UF'].fillna(0, inplace = True)
endereco_locais['IN_CAPITAL'].fillna(0, inplace = True)

In [17]:
# Adicionando uma coluna Endereco no DataFrame dos locais, pois por padrão
# essa coluna não existe
locais['ENDERECO'] = ""

In [18]:
## Categorizando o IN_CAPITAL do endereco 
# 1) Alterando o tipo dos dados int, para object (string)
endereco_locais['IN_CAPITAL'] = endereco_locais['IN_CAPITAL'].apply(str)

In [19]:
# Alterando os valores por suas respectivas categorias  
# 2) IN CAPITAL 0: Não; 1: Sim. 
endereco_locais.loc[endereco_locais['IN_CAPITAL'] == '0', 'IN_CAPITAL'] = 'Não'
endereco_locais.loc[endereco_locais['IN_CAPITAL'] == '1', 'IN_CAPITAL'] = 'Sim'

In [20]:
# fazendo um merge de endereço com municipios
endereco_locais = endereco_locais.merge(municipios, how='left', left_on='CO_MUNICIPIO', right_on='codigo_ibge')

In [21]:
endereco_locais.isnull().sum()

CO_UF               0
CO_MUNICIPIO        0
IN_CAPITAL          0
codigo_ibge      1548
NO_MUNICIPIO     1548
LAT_MUNICIPIO    1548
LON_MUNICIPIO    1548
SG_UF            1548
NO_UF            1548
dtype: int64

In [22]:
endereco_locais.shape

(767724, 9)

In [23]:
## Alterando os valores nulos (de cidades do exterior)
endereco_locais['codigo_ibge'].fillna(0, inplace = True)
endereco_locais['NO_MUNICIPIO'].fillna('No exterior', inplace = True)
endereco_locais['LAT_MUNICIPIO'].fillna(0, inplace = True)
endereco_locais['LON_MUNICIPIO'].fillna(0, inplace = True)
endereco_locais['SG_UF'].fillna('EX', inplace = True)
endereco_locais['NO_UF'].fillna('Exterior', inplace = True)

In [24]:
# Criando um dicionário do Python a partir do DataFrame de enderecos
endereco_locais_dict = endereco_locais.to_dict('records')

In [25]:
# Adicionando um endereco (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada LOCAL
for i in locais.index:
    locais.at[i,'ENDERECO'] = endereco_locais_dict[i]

In [26]:
locais.head()

,CO_IES,IN_LOCAL_OFERTA_NEAD,NU_ANO_CENSO,CO_CURSO,CO_CURSO_POLO,CO_LOCAL_OFERTA,NO_LOCAL_OFERTA,IN_LOCAL_OFERTA_POLO,IN_SEDE,ENDERECO
0,1,1.0,2018,1,NaN,105340,Campus Universitário de Cuiabá,1.0,1.0,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C..."
1,1,1.0,2018,2,NaN,105340,Campus Universitário de Cuiabá,1.0,1.0,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C..."
2,1,1.0,2018,3,NaN,105340,Campus Universitário de Cuiabá,1.0,1.0,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C..."
3,1,1.0,2018,6,NaN,105340,Campus Universitário de Cuiabá,1.0,1.0,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C..."
4,1,1.0,2018,7,NaN,105340,Campus Universitário de Cuiabá,1.0,1.0,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C..."

In [27]:
## Verificando se existem informações nulas 
locais.isnull().sum()

CO_IES                       0
IN_LOCAL_OFERTA_NEAD     57992
NU_ANO_CENSO                 0
CO_CURSO                     0
CO_CURSO_POLO            35076
CO_LOCAL_OFERTA              0
NO_LOCAL_OFERTA              0
IN_LOCAL_OFERTA_POLO     57992
IN_SEDE                 341124
ENDERECO                     0
dtype: int64

In [28]:
## Alterando os valores nulos do atributo "IN_SEDE" para 2.0 
locais['IN_SEDE'].fillna(2.0, inplace = True)

## Alterando os valores nulos do atributo "IN_LOCAL_OFERTA_POLO" para 2.0 
locais['IN_LOCAL_OFERTA_POLO'].fillna(2.0, inplace = True)

## Alterando os valores nulos do atributo "IN_LOCAL_OFERTA_NEAD" para 2.0 
locais['IN_LOCAL_OFERTA_NEAD'].fillna(2.0, inplace = True)

In [29]:
# 1) Alterando o tipo dos dados int e float, para object (string), afim de categorizar 
locais['IN_SEDE'] = locais['IN_SEDE'].apply(str)
# 1) Alterando o tipo dos dados int e float, para object (string), afim de categorizar 
locais['IN_LOCAL_OFERTA_NEAD'] = locais['IN_LOCAL_OFERTA_NEAD'].apply(str)
# 1) Alterando o tipo dos dados int e float, para object (string), afim de categorizar 
locais['IN_LOCAL_OFERTA_POLO'] = locais['IN_LOCAL_OFERTA_POLO'].apply(str)

In [30]:
# Alterando os valores por suas respectivas categorias  
# 2) IN_SEDE: 0.0: Não; 1.0: Sim; 2.0: "Não informado"  
locais.loc[locais['IN_SEDE'] == '0.0', 'IN_SEDE'] = 'Não'
locais.loc[locais['IN_SEDE'] == '1.0', 'IN_SEDE'] = 'Sim'
locais.loc[locais['IN_SEDE'] == '2.0', 'IN_SEDE'] = 'Não informado'

# 3) IN_LOCAL_OFERTA_NEAD
locais.loc[locais['IN_LOCAL_OFERTA_NEAD'] == '0.0', 'IN_LOCAL_OFERTA_NEAD'] = 'Não'
locais.loc[locais['IN_LOCAL_OFERTA_NEAD'] == '1.0', 'IN_LOCAL_OFERTA_NEAD'] = 'Sim'
locais.loc[locais['IN_LOCAL_OFERTA_NEAD'] == '2.0', 'IN_LOCAL_OFERTA_NEAD'] = 'Não informado'

# 3) IN_LOCAL_OFERTA_POLO 
locais.loc[locais['IN_LOCAL_OFERTA_POLO'] == '0.0', 'IN_LOCAL_OFERTA_POLO'] = 'Não'
locais.loc[locais['IN_LOCAL_OFERTA_POLO'] == '1.0', 'IN_LOCAL_OFERTA_POLO'] = 'Sim'
locais.loc[locais['IN_LOCAL_OFERTA_POLO'] == '2.0', 'IN_LOCAL_OFERTA_POLO'] = 'Não informado'

## 2.3. Análise dos dados dos locais de oferta

In [31]:
print("Quantidade de linhas: ", locais.shape[0])
print("Quantidade de colunas: ",locais.shape[1])

Quantidade de linhas:  767724
Quantidade de colunas:  10

In [32]:
locais.describe()

,CO_IES,NU_ANO_CENSO,CO_CURSO,CO_CURSO_POLO,CO_LOCAL_OFERTA
count,767724.000000,767724.0,7.677240e+05,7.326480e+05,7.677240e+05
mean,1123.665118,2018.0,1.101305e+06,5.957512e+05,9.608233e+05
std,1982.920949,0.0,6.229821e+05,3.097206e+05,5.889572e+05
min,1.000000,2018.0,1.000000e+00,1.000000e+00,1.930000e+02
25%,322.000000,2018.0,1.145108e+06,3.514925e+05,1.003303e+06
50%,671.000000,2018.0,1.314382e+06,6.067795e+05,1.084506e+06
75%,1490.000000,2018.0,1.398175e+06,8.434642e+05,1.095477e+06
max,23705.000000,2018.0,5.001466e+06,1.132574e+06,2.500011e+06

# 3 Dados das IES

In [33]:
# Como cada linha do arquivo de locais é vinculado a uma IES via código da IES, é necessário
# realizar a carga dos dados das IES e inserir em cada local de oferta

## 3.1 Carga do arquivo e dados inicial

In [34]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
ies = pd.read_csv('../data/censo_2018/SUP_IES.CSV', sep="|", encoding="latin-1")

In [35]:
# Mostrando a quantidade de linhas e colunas do DataFrame 
print("Quantidade de linhas:",ies.shape[0])
print("Quantidade de colunas:",ies.shape[1])

Quantidade de linhas: 2537
Quantidade de colunas: 48

## 3.2 Tratando os dados do dataset

In [36]:
# Criando um DataFrame com as colunas consideradas na estrutura do trabalho
ies = ies[{'CO_IES','NO_IES','SG_IES',
           'TP_CATEGORIA_ADMINISTRATIVA',
           'TP_ORGANIZACAO_ACADEMICA','QT_TEC_TOTAL'}]

In [37]:
ies.isnull().sum()

NO_IES                           0
SG_IES                         426
CO_IES                           0
TP_ORGANIZACAO_ACADEMICA         0
TP_CATEGORIA_ADMINISTRATIVA      0
QT_TEC_TOTAL                     0
dtype: int64

In [38]:
# Alterando os valores nulos da sigla da IES para 'Sem sigla'.
ies['SG_IES'].fillna('Sem SIGLA', inplace = True)

In [39]:
# 1) Alterando o tipo dos dados int, para object (string)
ies['TP_CATEGORIA_ADMINISTRATIVA'] = ies['TP_CATEGORIA_ADMINISTRATIVA'].apply(str)
ies['TP_ORGANIZACAO_ACADEMICA'] = ies['TP_ORGANIZACAO_ACADEMICA'].apply(str)

In [40]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_CATEGORIA_ADMINISTRATIVA: 1: Pública Federal; 2: Pública Federal; 
# 3: Pùblica Municipal; 4: Privada com fins lucrativos; 5: Privada sem fins lucrativos;
# 6: Privada - Particular em sentido estrito; 7: Especial
# 8: Privada comunitária; 9: Privada confessional.  
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '1', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '2', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '3', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Municipal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '4', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada com fins lucrativo'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '5', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada sem fins lucrativos'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '6', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada - Particular em sentido estrito'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '7', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Especial'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '8', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada comunitária'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '9', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada confessional'

# 2) TP_ORGANIZACAO_ACADEMICA: 1: Universidade; 2: Centro Universitário; 
# 3: Faculdade; 4: Instituto Federal de Educação Ciência e Tecnologia; 
# 5: Centro Federal de Educação Tecnológica
  
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '1', 'TP_ORGANIZACAO_ACADEMICA'] = 'Universidade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '2', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Universitário'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '3', 'TP_ORGANIZACAO_ACADEMICA'] = 'Faculdade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '4', 'TP_ORGANIZACAO_ACADEMICA'] = 'Instituto Federal de Educação Ciência e Tecnologia'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '5', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Federal de Educação Tecnológica'

In [41]:
ies.head(3)

,NO_IES,SG_IES,CO_IES,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,QT_TEC_TOTAL
0,UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,1,Universidade,Pública Federal,1639
1,UNIVERSIDADE DE BRASÍLIA,UNB,2,Universidade,Pública Federal,3171
2,UNIVERSIDADE FEDERAL DE SERGIPE,UFS,3,Universidade,Pública Federal,1464

# 4 Juntando o DataSet de Locais de Oferta com o de IES

In [42]:
locais = locais.merge(ies, how='left', left_on='CO_IES', right_on='CO_IES')

In [43]:
locais.shape

(767724, 15)

In [44]:
locais.head()

,CO_IES,IN_LOCAL_OFERTA_NEAD,NU_ANO_CENSO,CO_CURSO,CO_CURSO_POLO,CO_LOCAL_OFERTA,NO_LOCAL_OFERTA,IN_LOCAL_OFERTA_POLO,IN_SEDE,ENDERECO,NO_IES,SG_IES,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,QT_TEC_TOTAL
0,1,Sim,2018,1,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,1639
1,1,Sim,2018,2,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,1639
2,1,Sim,2018,3,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,1639
3,1,Sim,2018,6,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,1639
4,1,Sim,2018,7,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",UNIVERSIDADE FEDERAL DE MATO GROSSO,UFMT,Universidade,Pública Federal,1639

In [45]:
locais.isnull().sum()

CO_IES                             0
IN_LOCAL_OFERTA_NEAD               0
NU_ANO_CENSO                       0
CO_CURSO                           0
CO_CURSO_POLO                  35076
CO_LOCAL_OFERTA                    0
NO_LOCAL_OFERTA                    0
IN_LOCAL_OFERTA_POLO               0
IN_SEDE                            0
ENDERECO                           0
NO_IES                             0
SG_IES                             0
TP_ORGANIZACAO_ACADEMICA           0
TP_CATEGORIA_ADMINISTRATIVA        0
QT_TEC_TOTAL                       0
dtype: int64

In [46]:
locais_ies = locais[{'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA'}]

In [47]:
locais.drop({'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA'}, axis=1, inplace = True)

In [48]:
locais['IES'] = ""

In [49]:
# Criando um dicionário do Python a partir do DataSet de locais_ies
locais_ies_dict = locais_ies.to_dict('records')

In [50]:
# Adicionando uma ies (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada curso
for x in locais.index:
    locais.at[x,'IES'] = locais_ies_dict[x]

In [51]:
locais.head()

,IN_LOCAL_OFERTA_NEAD,NU_ANO_CENSO,CO_CURSO,CO_CURSO_POLO,CO_LOCAL_OFERTA,NO_LOCAL_OFERTA,IN_LOCAL_OFERTA_POLO,IN_SEDE,ENDERECO,IES
0,Sim,2018,1,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",{'NO_IES': 'UNIVERSIDADE FEDERAL DE MATO GROSS...
1,Sim,2018,2,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",{'NO_IES': 'UNIVERSIDADE FEDERAL DE MATO GROSS...
2,Sim,2018,3,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",{'NO_IES': 'UNIVERSIDADE FEDERAL DE MATO GROSS...
3,Sim,2018,6,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",{'NO_IES': 'UNIVERSIDADE FEDERAL DE MATO GROSS...
4,Sim,2018,7,NaN,105340,Campus Universitário de Cuiabá,Sim,Sim,"{'CO_UF': 51.0, 'CO_MUNICIPIO': 5103403, 'IN_C...",{'NO_IES': 'UNIVERSIDADE FEDERAL DE MATO GROSS...

# 5. Envio dos dados para o mongoDB

In [52]:
# Criando a conexão com o mongoDB
client = pym.MongoClient('mongodb://rlk:rockinrio08@177.44.248.87:27017/')

# Acessando a base de dados criada
db = client['censo']

# Acessando a coleção locais de oferta 
collection_locais =  db['locais_de_oferta']

In [53]:
# Transformando o DataSet dos locais em um dicionario com o objetivo
# de salvar ele no MongoDB, pois o banco não aceita estruturas do tipo DataFrame
locais_dict = locais.to_dict('records')

In [54]:
# Enviando os dados para o MongoDB
collection_locais.insert_many(locais_dict)