# 1. Importação das bilbiotecas necessárias

In [ ]:
# Importando o pandas
import pandas as pd

# Importando biblioteca para trabalhar com o MongoDB
import pymongo as pym

# Importando o numpy para trabalhar com cálculos matemáticos
import numpy as np

#Importando o seaborn e o matplotlib para análises gráficas
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Dados dos Alunos

In [ ]:
# Como o arquivo dos alunos é maior, 
#a seleção das colunas utilizadas será feita  antes da importação do csv
colunas = ['CO_IES','CO_CURSO','ID_ALUNO','CO_ALUNO_CURSO',
          'TP_COR_RACA','TP_SEXO','NU_IDADE','TP_NACIONALIDADE','IN_DEFICIENCIA',
          'TP_SITUACAO','IN_INGRESSO_ENEM','IN_FINANCIAMENTO_ESTUDANTIL',
           'IN_FIN_NAOREEMB_PROUNI_PARCIAL','IN_FIN_NAOREEMB_PROUNI_INTEGR',
          'TP_ESCOLA_CONCLUSAO_ENS_MEDIO','IN_MOBILIDADE_ACADEMICA']

## 2.1Carregando os alunos

In [ ]:
## utilizando chunk size para carregar os dados
array_df = []
for chunk in pd.read_csv('../data/SUP_ALUNO_2019.CSV', sep="|", low_memory=False,encoding="latin-1", usecols=colunas, chunksize = 10000):
    temp_df = chunk.loc[(chunk['TP_SITUACAO'] == 5)]
    array_df.append(temp_df)

alunos = pd.concat(array_df, ignore_index=True)


## alunos = pd.read_csv('../data/SUP_ALUNO_2019.CSV', sep="|", encoding="latin-1", usecols=colunas)

In [ ]:
## Verificando o consumo de memória
alunos.info(memory_usage='deep')

In [ ]:
# Verificando a quantidade de linhas e colunas do arquivo 
alunos.shape

In [ ]:
# Verificando as 5 primeiras linhas do arquivo
alunos.head(30)

In [ ]:
# Verificando o tipo de cada coluna
alunos.dtypes

In [ ]:
## Otimizando os atributos 
ints = alunos.select_dtypes(include=['int64','int32','int16']).columns
alunos[ints] = alunos[ints].apply(pd.to_numeric, downcast='integer')

floats = alunos.select_dtypes(include=['float']).columns
alunos[floats] = alunos[floats].apply(pd.to_numeric, downcast='float')

## 2.2  Tratando os dados do dataset

In [ ]:
## Verificando a quantidade de valores nulos por coluna
alunos.isnull().sum()

In [ ]:
# De financiamento para 2, para depois alterar o 2 para "Não informado"
alunos['IN_FINANCIAMENTO_ESTUDANTIL'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].fillna(value='2', inplace=True)

# Alterando para 0 os mobilidade acadêmica nulos
alunos['IN_MOBILIDADE_ACADEMICA'].fillna(value='0', inplace=True)

In [ ]:
# 1) Alterando o tipo dos dados int, para object (string)
alunos['TP_SITUACAO'] = alunos['TP_SITUACAO'].apply(str)
alunos['TP_SEXO'] = alunos['TP_SEXO'].apply(str)
alunos['TP_NACIONALIDADE'] = alunos['TP_NACIONALIDADE'].apply(str)
alunos['IN_DEFICIENCIA'] = alunos['IN_DEFICIENCIA'].apply(str)
alunos['TP_COR_RACA'] = alunos['TP_COR_RACA'].apply(str)
alunos['IN_INGRESSO_ENEM'] = alunos['IN_INGRESSO_ENEM'].apply(str)
alunos['IN_FINANCIAMENTO_ESTUDANTIL'] = alunos['IN_FINANCIAMENTO_ESTUDANTIL'].apply(str)
alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].apply(str)
alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] = alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'].apply(str)
alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'].apply(str)
alunos['IN_MOBILIDADE_ACADEMICA'] = alunos['IN_MOBILIDADE_ACADEMICA'].apply(str)

In [ ]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_SITUACAO  
alunos.loc[alunos['TP_SITUACAO'] == '2', 'TP_SITUACAO'] = 'Cursando'
alunos.loc[alunos['TP_SITUACAO'] == '3', 'TP_SITUACAO'] = 'Matricula trancada'
alunos.loc[alunos['TP_SITUACAO'] == '4', 'TP_SITUACAO'] = 'Desvinculado do curso'
alunos.loc[alunos['TP_SITUACAO'] == '5', 'TP_SITUACAO'] = 'Transferido para outro curso da mesma IES'
alunos.loc[alunos['TP_SITUACAO'] == '6', 'TP_SITUACAO'] = 'Formado'
alunos.loc[alunos['TP_SITUACAO'] == '7', 'TP_SITUACAO'] = 'Falecido'

# 3) TP_SEXO  
alunos.loc[alunos['TP_SEXO'] == '1', 'TP_SEXO'] = 'Feminino'
alunos.loc[alunos['TP_SEXO'] == '2', 'TP_SEXO'] = 'Masculino'

# 4) TP_NACIONALIDADE  
alunos.loc[alunos['TP_NACIONALIDADE'] == '1', 'TP_NACIONALIDADE'] = 'Brasileira'
alunos.loc[alunos['TP_NACIONALIDADE'] == '2', 'TP_NACIONALIDADE'] = 'Brasileira nascida no exterior ou naturalizado'
alunos.loc[alunos['TP_NACIONALIDADE'] == '3', 'TP_NACIONALIDADE'] = 'Estrangeira'

# 5) IN_DEFICIENCIA  
alunos.loc[alunos['IN_DEFICIENCIA'] == '0', 'IN_DEFICIENCIA'] = 'Não'
alunos.loc[alunos['IN_DEFICIENCIA'] == '1', 'IN_DEFICIENCIA'] = 'Sim'
alunos.loc[alunos['IN_DEFICIENCIA'] == '9', 'IN_DEFICIENCIA'] = 'Sem informação'

# 6) TP_COR_RACA  
alunos.loc[alunos['TP_COR_RACA'] == '0', 'TP_COR_RACA'] = 'Não quis declarar'
alunos.loc[alunos['TP_COR_RACA'] == '1', 'TP_COR_RACA'] = 'Branca'
alunos.loc[alunos['TP_COR_RACA'] == '2', 'TP_COR_RACA'] = 'Preta'
alunos.loc[alunos['TP_COR_RACA'] == '3', 'TP_COR_RACA'] = 'Parda'
alunos.loc[alunos['TP_COR_RACA'] == '4', 'TP_COR_RACA'] = 'Amarela'
alunos.loc[alunos['TP_COR_RACA'] == '5', 'TP_COR_RACA'] = 'Indígena'
alunos.loc[alunos['TP_COR_RACA'] == '9', 'TP_COR_RACA'] = 'Sem informação'

# 7) IN_INGRESSO_ENEM  
alunos.loc[alunos['IN_INGRESSO_ENEM'] == '0', 'IN_INGRESSO_ENEM'] = 'Não'
alunos.loc[alunos['IN_INGRESSO_ENEM'] == '1', 'IN_INGRESSO_ENEM'] = 'Sim'

# 8) IN_FINANCIAMENTO_ESTUDANTIL  
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '0', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Não'
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '1', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Sim'
alunos.loc[alunos['IN_FINANCIAMENTO_ESTUDANTIL'] == '2', 'IN_FINANCIAMENTO_ESTUDANTIL'] = 'Sem informação'

# 9) IN_FIN_NAOREEMB_PROUNI_PARCIAL  
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '0', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Não'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '1', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Sim'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'] == '2', 'IN_FIN_NAOREEMB_PROUNI_PARCIAL'] = 'Sem informação'

# 10) IN_FIN_NAOREEMB_PROUNI_INTEGR  
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '0', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Não'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '1', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Sim'
alunos.loc[alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'] == '2', 'IN_FIN_NAOREEMB_PROUNI_INTEGR'] = 'Sem informação'

# 11) TP_ESCOLA_CONCLUSAO_ENS_MEDIO  
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '1', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Pública'
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '2', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Privada'
alunos.loc[alunos['TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] == '9', 'TP_ESCOLA_CONCLUSAO_ENS_MEDIO'] = 'Sem informação'

# 11) IN_MOBILIDADE_ACADEMICA  
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '0', 'IN_MOBILIDADE_ACADEMICA'] = 'Não'
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '1', 'IN_MOBILIDADE_ACADEMICA'] = 'Sim'
alunos.loc[alunos['IN_MOBILIDADE_ACADEMICA'] == '9', 'IN_MOBILIDADE_ACADEMICA'] = 'Sem informação'

In [ ]:
## Mudando os objetos "object" para category
objects = alunos.select_dtypes('object').columns
alunos[objects] = alunos[objects].apply(lambda x: x.astype('category'))

In [ ]:
alunos.head()

# 3 Dados das IES

In [ ]:
# Como cada linha do arquivo de alunos é vinculado a uma IES via código da IES, é necessário
# realizar a carga dos dados das IES e inserir em cada aluno

# 3.1 Carga do arquivo e dados inicial

In [ ]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
ies = pd.read_csv('../data/SUP_IES_2019.CSV', sep="|", encoding="latin-1")

In [ ]:
# Mostrando a quantidade de linhas e colunas do DataFrame 
print("Quantidade de linhas:",ies.shape[0])
print("Quantidade de colunas:",ies.shape[1])

In [ ]:
# Importando arquivo de cidades do IBGE que servirá para popular o endereço das IES
colunas = ['codigo_ibge','NO_MUNICIPIO','LAT_MUNICIPIO','LON_MUNICIPIO','CO_UF','SG_UF','NO_UF']
municipios = pd.read_csv('../data/municipios.csv', sep=",", header=0, names=colunas)

In [ ]:
# Removendo colunas desnecessárias
municipios.drop(['CO_UF'], axis=1, inplace = True)

## 3.2 Tratando os dados do dataset

In [ ]:
# Criando um DataFrame somente com as colunas de endereço das IES 
# E outro com as colunas consideradas na estrutura do trabalho
endereco_ies = ies[{'CO_REGIAO','CO_UF','CO_MUNICIPIO','IN_CAPITAL'}]

ies = ies[{'CO_IES','NO_IES','SG_IES',
           'TP_CATEGORIA_ADMINISTRATIVA',
           'TP_ORGANIZACAO_ACADEMICA','QT_TEC_TOTAL'}]

In [ ]:
# Adicionando uma coluna Endereco no DataFrame das IES, pois por padrão
# essa coluna não existe
ies['ENDERECO'] = ""

In [ ]:
## Categorizando o IN_CAPITAL do endereco 
# 1) Alterando o tipo dos dados int, para object (string)
endereco_ies['IN_CAPITAL'] = endereco_ies['IN_CAPITAL'].apply(str)

In [ ]:
# Alterando os valores por suas respectivas categorias  
# 2) IN CAPITAL 0: Não; 1: Sim. 
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '0', 'IN_CAPITAL'] = 'Não'
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '1', 'IN_CAPITAL'] = 'Sim'

In [ ]:
# fazendo um merge de endereço com municipios
endereco_ies = endereco_ies.merge(municipios, how='left', left_on='CO_MUNICIPIO', right_on='codigo_ibge')

In [ ]:
# Removendo colunas desnecessárias
endereco_ies.drop(['codigo_ibge'], axis=1, inplace = True)

In [ ]:
# Resultado da junção de endereço e municipios
endereco_ies.head(3)

In [ ]:
endereco_ies.isnull().sum()

In [ ]:
endereco_ies.shape

In [ ]:
# Criando um dicionário do Python a partir do DataFrame de enderecos
endereco_ies_dict = endereco_ies.to_dict('records')

In [ ]:
# Adicionando um endereco (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada IES
for i in ies.index:
    ies.at[i,'ENDERECO'] = endereco_ies_dict[i]

In [ ]:
ies.isnull().sum()

In [ ]:
# Alterando os valores nulos da sigla da IES para 'Sem sigla'.
ies['SG_IES'].fillna('Sem SIGLA', inplace = True)

In [ ]:
# 1) Alterando o tipo dos dados int, para object (string)
ies['TP_CATEGORIA_ADMINISTRATIVA'] = ies['TP_CATEGORIA_ADMINISTRATIVA'].apply(str)
ies['TP_ORGANIZACAO_ACADEMICA'] = ies['TP_ORGANIZACAO_ACADEMICA'].apply(str)

In [ ]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_CATEGORIA_ADMINISTRATIVA: 1: Pública Federal; 2: Pública Federal; 
# 3: Pùblica Municipal; 4: Privada com fins lucrativos; 5: Privada sem fins lucrativos;
# 6: Privada - Particular em sentido estrito; 7: Especial
# 8: Privada comunitária; 9: Privada confessional.  
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '1', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '2', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '3', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Municipal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '4', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada com fins lucrativo'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '5', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada sem fins lucrativos'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '6', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada - Particular em sentido estrito'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '7', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Especial'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '8', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada comunitária'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '9', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada confessional'

# 2) TP_ORGANIZACAO_ACADEMICA: 1: Universidade; 2: Centro Universitário; 
# 3: Faculdade; 4: Instituto Federal de Educação Ciência e Tecnologia; 
# 5: Centro Federal de Educação Tecnológica
  
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '1', 'TP_ORGANIZACAO_ACADEMICA'] = 'Universidade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '2', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Universitário'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '3', 'TP_ORGANIZACAO_ACADEMICA'] = 'Faculdade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '4', 'TP_ORGANIZACAO_ACADEMICA'] = 'Instituto Federal de Educação Ciência e Tecnologia'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '5', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Federal de Educação Tecnológica'

In [ ]:
alunos = alunos.merge(ies, how='left', left_on='CO_IES', right_on='CO_IES')

In [ ]:
alunos.head()

In [ ]:
alunos.isnull().sum()

In [ ]:
alunos_ies = alunos[{'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}]

In [ ]:
alunos.drop({'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}, axis=1, inplace = True)

In [ ]:
alunos['IES'] = ""

In [ ]:
# Criando um dicionário do Python a partir do DataSet de docentes_ies
alunos_ies_dict = alunos_ies.to_dict('records')

In [ ]:
# Adicionando uma ies (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada aluno
for x in alunos.index:
    alunos.at[x,'IES'] = alunos_ies_dict[x]

In [ ]:
alunos.shape

In [ ]:
alunos.head(2)

# 5 Dados de Cursos

#  5.1 Carga do arquivo e dados iniciais

In [ ]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
cursos = pd.read_csv('../data/SUP_CURSO_2019.CSV', sep="|", encoding="latin-1")

In [ ]:
# Verificando a quantidade de linhas e colunas do arquivo 
cursos.shape

In [ ]:
# Selecionando somente as colunas necessárias descritas na documentação do trabalho: 
# COD_IES, CO_CURSO,NO_CURSO, TP_SITUACAO, TP_GRAU_ACADEMICO, TP_MODALIDADE_ENSINO
# TP_NIVEL_ACADEMICO, IN_GRATUITO, NU_CARGA_HORARIA 

cursos = cursos[{'CO_CURSO','NO_CURSO','TP_SITUACAO','TP_GRAU_ACADEMICO',
                'TP_MODALIDADE_ENSINO','TP_NIVEL_ACADEMICO','IN_GRATUITO',
                 'NU_CARGA_HORARIA'}]

In [ ]:
# Verificando novamente a quantidade de linhas e colunas do arquivo
# após a seleção de somente as colunas necessárias
cursos.shape

# 5.2  Tratando os dados do dataset

In [ ]:
## Verificando a quantidade de valores nulos por coluna
cursos.isnull().sum()

In [ ]:
# Alterar os valores nulos por "NÃO INFORMADO"
cursos['TP_GRAU_ACADEMICO'].fillna(value='Não informado', inplace=True)

In [ ]:
# 1) Alterando o tipo dos dados int, para object (string)
cursos['TP_SITUACAO'] = cursos['TP_SITUACAO'].apply(str)
cursos['TP_NIVEL_ACADEMICO'] = cursos['TP_NIVEL_ACADEMICO'].apply(str)
cursos['TP_MODALIDADE_ENSINO'] = cursos['TP_MODALIDADE_ENSINO'].apply(str)
cursos['TP_GRAU_ACADEMICO'] = cursos['TP_GRAU_ACADEMICO'].apply(str)
cursos['IN_GRATUITO'] = cursos['IN_GRATUITO'].apply(str)

In [ ]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_SITUACAO: 1: Em atividade; 2:Extinto; 3: Em extinção.  
cursos.loc[cursos['TP_SITUACAO'] == '1', 'TP_SITUACAO'] = 'Em atividade'
cursos.loc[cursos['TP_SITUACAO'] == '2', 'TP_SITUACAO'] = 'Extinto'
cursos.loc[cursos['TP_SITUACAO'] == '3', 'TP_SITUACAO'] = 'Em extinção'

# 3) TP_NIVEL_ACADEMICO: 1: Graduação; 2:Sequencial
cursos.loc[cursos['TP_NIVEL_ACADEMICO'] == '1', 'TP_NIVEL_ACADEMICO'] = 'Graduação'
cursos.loc[cursos['TP_NIVEL_ACADEMICO'] == '2', 'TP_NIVEL_ACADEMICO'] = 'Sequencial'

# 4) TP_MODALIDADE_ENSINO: 1: Presencial; 2:EAD
cursos.loc[cursos['TP_MODALIDADE_ENSINO'] == '1', 'TP_MODALIDADE_ENSINO'] = 'Presencial'
cursos.loc[cursos['TP_MODALIDADE_ENSINO'] == '2', 'TP_MODALIDADE_ENSINO'] = 'EAD'

# 5) TP_GRAU_ACADEMICO: 1: Bacharelado; 2: Licenciatura; 3: Tecnológico; 4: Bacharelado e Licenciatura. 
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '1.0', 'TP_GRAU_ACADEMICO'] = 'Bacharelado'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '2.0', 'TP_GRAU_ACADEMICO'] = 'Licenciatura'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '3.0', 'TP_GRAU_ACADEMICO'] = 'Tecnológico'
cursos.loc[cursos['TP_GRAU_ACADEMICO'] == '4.0', 'TP_GRAU_ACADEMICO'] = 'Bacharelado e Licenciatura'

# 6) IN_GRATUITO: 0: Não; 1: Sim. 
cursos.loc[cursos['IN_GRATUITO'] == '0', 'IN_GRATUITO'] = 'Não'
cursos.loc[cursos['IN_GRATUITO'] == '1', 'IN_GRATUITO'] = 'Sim'

In [ ]:
## Mudando os objetos "object" para category
objects = cursos.select_dtypes('object').columns
cursos[objects] = cursos[objects].apply(lambda x: x.astype('category'))

# 6 Juntando os dados dos cursos com o de alunos

In [ ]:
alunos = alunos.merge(cursos, how='left', left_on='CO_CURSO', right_on='CO_CURSO')

In [ ]:
alunos.shape

In [ ]:
# Renomear as colunas de situação, pois ela existe tanto no dataframe de aluno quando no de curso
alunos.rename(columns={'TP_SITUACAO_x': 'TP_SITUACAO_ALUNO'}, inplace = True)
alunos.rename(columns={'TP_SITUACAO_y': 'TP_SITUACAO_CURSO'}, inplace = True)

In [ ]:
alunos.dtypes

In [ ]:
alunos_curso = alunos[{'TP_MODALIDADE_ENSINO','NU_CARGA_HORARIA','CO_CURSO','TP_SITUACAO_CURSO','TP_GRAU_ACADEMICO',
                       'IN_GRATUITO','NO_CURSO','TP_NIVEL_ACADEMICO'}]

In [ ]:
alunos.drop({'TP_MODALIDADE_ENSINO','NU_CARGA_HORARIA','CO_CURSO','TP_SITUACAO_CURSO','TP_GRAU_ACADEMICO',
                       'IN_GRATUITO','NO_CURSO','TP_NIVEL_ACADEMICO'}, axis=1, inplace = True)

In [ ]:
alunos['CURSO'] = ""

In [ ]:
# Criando um dicionário do Python a partir do DataSet de alunos_cursos
alunos_curso_dict = alunos_curso.to_dict('records')

In [ ]:
# Adicionando um curso (através do dicionário criado no passo anterior)
# e inserindo na coluna "CURSO" de cada aluno
for x in alunos.index:
    alunos.at[x,'CURSO'] = alunos_curso_dict[x]

In [ ]:
alunos.head(2)

# 7. Envio dos dados para o mongoDB

In [ ]:
# Criando a conexão com o mongoDB
client = pym.MongoClient('mongodb://renan:kurt1994@177.44.248.87:27017/')

# Acessando a base de dados criada para o teste
db = client['censo']

# Acessando a coleção curso dentro da base de dados censo  
collection_cursos=  db['alunos']

In [ ]:
# Transformando o DataSet dos cursos em um dicionario com o objetivo
# de salvar ele no MongoDB, pois o banco não aceita estruturas do tipo DataFrame
alunos_dict = alunos.to_dict('records')

In [ ]:
# Enviando os dados para o MongoDB
collection_cursos.insert_many(alunos_dict)