# 1. Importação das bilbiotecas necessárias

In [1]:
# Importando o pandas
import pandas as pd

# Importando biblioteca para trabalhar com o MongoDB
import pymongo as pym

# Importando o numpy para trabalhar com cálculos matemáticos
import numpy as np

#Importando o seaborn e o matplotlib para análises gráficas
import seaborn as sns
import matplotlib.pyplot as plt

# 2. Dados dos Alunos

In [2]:
# Como o arquivo dos alunos é maior, 
#a seleção das colunas utilizadas será feita  antes da importação do csv
colunas = ['CO_IES','CO_CURSO','ID_ALUNO','CO_ALUNO_CURSO',
          'TP_COR_RACA','TP_SEXO','NU_IDADE','TP_NACIONALIDADE','IN_DEFICIENCIA',
          'TP_SITUACAO','IN_INGRESSO_ENEM','IN_FINANCIAMENTO_ESTUDANTIL',
           'IN_FIN_NAOREEMB_PROUNI_PARCIAL','IN_FIN_NAOREEMB_PROUNI_INTEGR',
          'TP_ESCOLA_CONCLUSAO_ENS_MEDIO','IN_MOBILIDADE_ACADEMICA']

## 2.1 Pegando os alunos por sexo

In [3]:
array_df = []
for chunk in pd.read_csv('../data/SUP_ALUNO_2019.CSV', sep="|", encoding="latin-1", usecols=colunas, chunksize = 10000):
    temp_df = chunk.loc[chunk['TP_SITUACAO'] == 4]
    array_df.append(temp_df)

alunos = pd.concat(array_df, ignore_index=True)


## alunos = pd.read_csv('../data/SUP_ALUNO_2019.CSV', sep="|", encoding="latin-1", usecols=colunas)

In [4]:
# Verificando a quantidade de linhas e colunas do arquivo 
alunos.shape

(1328972, 16)

In [5]:
# Verificando as 5 primeiras linhas do arquivo
alunos.head()

,CO_IES,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA
0,1,1,77996A099C3C7607E8AB1EF9BB1F4307,73959106,3,2,32,1,9,3,1,NaN,NaN,NaN,1,NaN
1,1,1,E76A3911B60AE52A1C43016A6B10A9F0,73964803,1,1,29,1,9,3,1,NaN,NaN,NaN,1,NaN
2,1,1,BC5A94C541677AFED2E3CDDCBEE20FAF,73956744,3,1,32,1,9,3,1,NaN,NaN,NaN,1,NaN
3,1,1,AB61850317E35196885EBF732C77C35E,73980633,3,1,44,1,9,3,0,NaN,NaN,NaN,2,NaN
4,1,1,51297186B91F6872503D6D2602366433,73980634,0,2,41,1,9,3,0,NaN,NaN,NaN,1,NaN

In [6]:
# Verificando o tipo de cada coluna
alunos.dtypes

CO_IES                              int64
CO_CURSO                            int64
ID_ALUNO                           object
CO_ALUNO_CURSO                      int64
TP_COR_RACA                         int64
TP_SEXO                             int64
NU_IDADE                            int64
TP_NACIONALIDADE                    int64
IN_DEFICIENCIA                      int64
TP_SITUACAO                         int64
IN_INGRESSO_ENEM                    int64
IN_FINANCIAMENTO_ESTUDANTIL       float64
IN_FIN_NAOREEMB_PROUNI_INTEGR     float64
IN_FIN_NAOREEMB_PROUNI_PARCIAL    float64
TP_ESCOLA_CONCLUSAO_ENS_MEDIO       int64
IN_MOBILIDADE_ACADEMICA           float64
dtype: object

## 2.2  Tratando os dados do dataset

In [7]:
## Verificando a quantidade de valores nulos por coluna
alunos.isnull().sum()

CO_IES                                 0
CO_CURSO                               0
ID_ALUNO                               0
CO_ALUNO_CURSO                         0
TP_COR_RACA                            0
TP_SEXO                                0
NU_IDADE                               0
TP_NACIONALIDADE                       0
IN_DEFICIENCIA                         0
TP_SITUACAO                            0
IN_INGRESSO_ENEM                       0
IN_FINANCIAMENTO_ESTUDANTIL       186802
IN_FIN_NAOREEMB_PROUNI_INTEGR     998766
IN_FIN_NAOREEMB_PROUNI_PARCIAL    998766
TP_ESCOLA_CONCLUSAO_ENS_MEDIO          0
IN_MOBILIDADE_ACADEMICA           112129
dtype: int64

In [8]:
# De financiamento para 2, para depois alterar o 2 para "Não informado"
alunos['IN_FINANCIAMENTO_ESTUDANTIL'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_INTEGR'].fillna(value='2', inplace=True)
alunos['IN_FIN_NAOREEMB_PROUNI_PARCIAL'].fillna(value='2', inplace=True)

# Alterando para 0 os mobilidade acadêmica nulos
alunos['IN_MOBILIDADE_ACADEMICA'].fillna(value='0', inplace=True)

# 3 Dados das IES

In [9]:
# Como cada linha do arquivo de alunos é vinculado a uma IES via código da IES, é necessário
# realizar a carga dos dados das IES e inserir em cada aluno

# 3.1 Carga do arquivo e dados inicial

In [13]:
# Lendo o arquivo CSV disponível nos microdados do Censo da Educação Superior e gravando
# ele em um DataFrame
ies = pd.read_csv('../data/SUP_IES_2019.CSV', sep="|", encoding="latin-1")

In [14]:
# Mostrando a quantidade de linhas e colunas do DataFrame 
print("Quantidade de linhas:",ies.shape[0])
print("Quantidade de colunas:",ies.shape[1])

Quantidade de linhas: 2608
Quantidade de colunas: 48

In [15]:
# Importando arquivo de cidades do IBGE que servirá para popular o endereço das IES
colunas = ['codigo_ibge','NO_MUNICIPIO','LAT_MUNICIPIO','LON_MUNICIPIO','CO_UF','SG_UF','NO_UF']
municipios = pd.read_csv('../data/municipios.csv', sep=",", header=0, names=colunas)

In [16]:
# Removendo colunas desnecessárias
municipios.drop(['CO_UF'], axis=1, inplace = True)

## 3.2 Tratando os dados do dataset

In [17]:
# Criando um DataFrame somente com as colunas de endereço das IES 
# E outro com as colunas consideradas na estrutura do trabalho
endereco_ies = ies[{'CO_REGIAO','CO_UF','CO_MUNICIPIO','IN_CAPITAL'}]

ies = ies[{'CO_IES','NO_IES','SG_IES',
           'TP_CATEGORIA_ADMINISTRATIVA',
           'TP_ORGANIZACAO_ACADEMICA','QT_TEC_TOTAL'}]

In [18]:
# Adicionando uma coluna Endereco no DataFrame das IES, pois por padrão
# essa coluna não existe
ies['ENDERECO'] = ""

In [19]:
## Categorizando o IN_CAPITAL do endereco 
# 1) Alterando o tipo dos dados int, para object (string)
endereco_ies['IN_CAPITAL'] = endereco_ies['IN_CAPITAL'].apply(str)

In [20]:
# Alterando os valores por suas respectivas categorias  
# 2) IN CAPITAL 0: Não; 1: Sim. 
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '0', 'IN_CAPITAL'] = 'Não'
endereco_ies.loc[endereco_ies['IN_CAPITAL'] == '1', 'IN_CAPITAL'] = 'Sim'

In [21]:
# fazendo um merge de endereço com municipios
endereco_ies = endereco_ies.merge(municipios, how='left', left_on='CO_MUNICIPIO', right_on='codigo_ibge')

In [22]:
# Removendo colunas desnecessárias
endereco_ies.drop(['codigo_ibge'], axis=1, inplace = True)

In [23]:
# Resultado da junção de endereço e municipios
endereco_ies.head(3)

,CO_REGIAO,CO_MUNICIPIO,IN_CAPITAL,CO_UF,NO_MUNICIPIO,LAT_MUNICIPIO,LON_MUNICIPIO,SG_UF,NO_UF
0,5,5103403,Sim,51,Cuiabá,-15601.0000,-56.0974,MT,Mato Grosso
1,5,5300108,Sim,53,Brasília,-15.7795,-47.9297,DF,Distrito Federal
2,2,2806701,Não,28,São Cristóvão,-11.0084,-37.2044,SE,Sergipe

In [24]:
endereco_ies.isnull().sum()

CO_REGIAO        0
CO_MUNICIPIO     0
IN_CAPITAL       0
CO_UF            0
NO_MUNICIPIO     0
LAT_MUNICIPIO    0
LON_MUNICIPIO    0
SG_UF            0
NO_UF            0
dtype: int64

In [25]:
endereco_ies.shape

(2608, 9)

In [26]:
# Criando um dicionário do Python a partir do DataFrame de enderecos
endereco_ies_dict = endereco_ies.to_dict('records')

In [27]:
# Adicionando um endereco (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada IES
for i in ies.index:
    ies.at[i,'ENDERECO'] = endereco_ies_dict[i]

In [28]:
ies.isnull().sum()

TP_ORGANIZACAO_ACADEMICA         0
TP_CATEGORIA_ADMINISTRATIVA      0
SG_IES                         464
CO_IES                           0
NO_IES                           0
QT_TEC_TOTAL                     0
ENDERECO                         0
dtype: int64

In [29]:
# Alterando os valores nulos da sigla da IES para 'Sem sigla'.
ies['SG_IES'].fillna('Sem SIGLA', inplace = True)

In [30]:
# 1) Alterando o tipo dos dados int, para object (string)
ies['TP_CATEGORIA_ADMINISTRATIVA'] = ies['TP_CATEGORIA_ADMINISTRATIVA'].apply(str)
ies['TP_ORGANIZACAO_ACADEMICA'] = ies['TP_ORGANIZACAO_ACADEMICA'].apply(str)

In [31]:
# Alterando os valores por suas respectivas categorias  
# 2) TP_CATEGORIA_ADMINISTRATIVA: 1: Pública Federal; 2: Pública Federal; 
# 3: Pùblica Municipal; 4: Privada com fins lucrativos; 5: Privada sem fins lucrativos;
# 6: Privada - Particular em sentido estrito; 7: Especial
# 8: Privada comunitária; 9: Privada confessional.  
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '1', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '2', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Federal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '3', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Pública Municipal'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '4', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada com fins lucrativo'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '5', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada sem fins lucrativos'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '6', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada - Particular em sentido estrito'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '7', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Especial'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '8', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada comunitária'
ies.loc[ies['TP_CATEGORIA_ADMINISTRATIVA'] == '9', 'TP_CATEGORIA_ADMINISTRATIVA'] = 'Privada confessional'

# 2) TP_ORGANIZACAO_ACADEMICA: 1: Universidade; 2: Centro Universitário; 
# 3: Faculdade; 4: Instituto Federal de Educação Ciência e Tecnologia; 
# 5: Centro Federal de Educação Tecnológica
  
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '1', 'TP_ORGANIZACAO_ACADEMICA'] = 'Universidade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '2', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Universitário'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '3', 'TP_ORGANIZACAO_ACADEMICA'] = 'Faculdade'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '4', 'TP_ORGANIZACAO_ACADEMICA'] = 'Instituto Federal de Educação Ciência e Tecnologia'
ies.loc[ies['TP_ORGANIZACAO_ACADEMICA'] == '5', 'TP_ORGANIZACAO_ACADEMICA'] = 'Centro Federal de Educação Tecnológica'

# 4 Juntando o DataSet de Alunos com o de IES

In [32]:
alunos = alunos.merge(ies, how='left', left_on='CO_IES', right_on='CO_IES')

In [33]:
alunos.head()

,CO_IES,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,...,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA,TP_ORGANIZACAO_ACADEMICA,TP_CATEGORIA_ADMINISTRATIVA,SG_IES,NO_IES,QT_TEC_TOTAL,ENDERECO
0,1,1,77996A099C3C7607E8AB1EF9BB1F4307,73959106,3,2,32,1,9,3,...,2,2,1,0,Universidade,Pública Federal,UFMT,UNIVERSIDADE FEDERAL DE MATO GROSSO,1483,"{'CO_REGIAO': 5, 'CO_MUNICIPIO': 5103403, 'IN_..."
1,1,1,E76A3911B60AE52A1C43016A6B10A9F0,73964803,1,1,29,1,9,3,...,2,2,1,0,Universidade,Pública Federal,UFMT,UNIVERSIDADE FEDERAL DE MATO GROSSO,1483,"{'CO_REGIAO': 5, 'CO_MUNICIPIO': 5103403, 'IN_..."
2,1,1,BC5A94C541677AFED2E3CDDCBEE20FAF,73956744,3,1,32,1,9,3,...,2,2,1,0,Universidade,Pública Federal,UFMT,UNIVERSIDADE FEDERAL DE MATO GROSSO,1483,"{'CO_REGIAO': 5, 'CO_MUNICIPIO': 5103403, 'IN_..."
3,1,1,AB61850317E35196885EBF732C77C35E,73980633,3,1,44,1,9,3,...,2,2,2,0,Universidade,Pública Federal,UFMT,UNIVERSIDADE FEDERAL DE MATO GROSSO,1483,"{'CO_REGIAO': 5, 'CO_MUNICIPIO': 5103403, 'IN_..."
4,1,1,51297186B91F6872503D6D2602366433,73980634,0,2,41,1,9,3,...,2,2,1,0,Universidade,Pública Federal,UFMT,UNIVERSIDADE FEDERAL DE MATO GROSSO,1483,"{'CO_REGIAO': 5, 'CO_MUNICIPIO': 5103403, 'IN_..."

In [35]:
alunos.isnull().sum()

CO_IES                            0
CO_CURSO                          0
ID_ALUNO                          0
CO_ALUNO_CURSO                    0
TP_COR_RACA                       0
TP_SEXO                           0
NU_IDADE                          0
TP_NACIONALIDADE                  0
IN_DEFICIENCIA                    0
TP_SITUACAO                       0
IN_INGRESSO_ENEM                  0
IN_FINANCIAMENTO_ESTUDANTIL       0
IN_FIN_NAOREEMB_PROUNI_INTEGR     0
IN_FIN_NAOREEMB_PROUNI_PARCIAL    0
TP_ESCOLA_CONCLUSAO_ENS_MEDIO     0
IN_MOBILIDADE_ACADEMICA           0
TP_ORGANIZACAO_ACADEMICA          0
TP_CATEGORIA_ADMINISTRATIVA       0
SG_IES                            0
NO_IES                            0
QT_TEC_TOTAL                      0
ENDERECO                          0
dtype: int64

In [36]:
alunos_ies = alunos[{'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}]

In [37]:
alunos.drop({'CO_IES','TP_CATEGORIA_ADMINISTRATIVA','QT_TEC_TOTAL','NO_IES','SG_IES','TP_ORGANIZACAO_ACADEMICA','ENDERECO'}, axis=1, inplace = True)

In [38]:
alunos['IES'] = ""

In [39]:
# Criando um dicionário do Python a partir do DataSet de docentes_ies
alunos_ies_dict = alunos_ies.to_dict('records')

In [40]:
# Adicionando uma ies (através do dicionário criado no passo anterior)
# e inserindo na coluna "ENDERECO" de cada aluno
for x in alunos.index:
    alunos.at[x,'IES'] = alunos_ies_dict[x]

In [42]:
alunos.shape

(1328972, 16)

In [44]:
alunos.head(2)

,CO_CURSO,ID_ALUNO,CO_ALUNO_CURSO,TP_COR_RACA,TP_SEXO,NU_IDADE,TP_NACIONALIDADE,IN_DEFICIENCIA,TP_SITUACAO,IN_INGRESSO_ENEM,IN_FINANCIAMENTO_ESTUDANTIL,IN_FIN_NAOREEMB_PROUNI_INTEGR,IN_FIN_NAOREEMB_PROUNI_PARCIAL,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,IN_MOBILIDADE_ACADEMICA,IES
0,1,77996A099C3C7607E8AB1EF9BB1F4307,73959106,3,2,32,1,9,3,1,2,2,2,1,0,"{'ENDERECO': {'CO_REGIAO': 5, 'CO_MUNICIPIO': ..."
1,1,E76A3911B60AE52A1C43016A6B10A9F0,73964803,1,1,29,1,9,3,1,2,2,2,1,0,"{'ENDERECO': {'CO_REGIAO': 5, 'CO_MUNICIPIO': ..."

# 5. Envio dos dados para o mongoDB

In [46]:
# Criando a conexão com o mongoDB
client = pym.MongoClient('mongodb://localhost:27017/')

# Acessando a base de dados criada para o teste
db = client['censo']

# Acessando a coleção curso dentro da base de dados censo  
collection_cursos=  db['alunos']

In [47]:
# Transformando o DataSet dos cursos em um dicionario com o objetivo
# de salvar ele no MongoDB, pois o banco não aceita estruturas do tipo DataFrame
alunos_dict = alunos.to_dict('records')

In [48]:
# Enviando os dados para o MongoDB
collection_cursos.insert_many(alunos_dict)